---
import Me from "../../assets/me.png";
import MeMobile from "../../assets/meMobile.jpeg";
import Button from "../Button.astro";
---

<section
  id="hero"
  class="w-full h-screen flex sm:justify-around justify-evenly items-center flex-wrap sm:flex-row flex-col"
>
  <img
    class="MeMobile block sm:hidden -mb-14 -z-10"
    src={MeMobile.src}
    alt="..."
    width="100"
    decoding="async"
    loading="lazy"
  />
  <div
    class="sm:w-3/12 w-5/6 flex flex-col items-center sm:items-start sm:mb-0 -mb-20"
  >
    <h1 class="w-64 uppercase font-extrabold text-4xl text-[#fffffe]">
      Raed Nouredine<span class="text-[#ff8906]">.</span>
    </h1>
    <span class="w-64 bg-white h-[1px]"></span>
    <p class="text-[#cacaca]">
      Dive into my portfolio to see my creations in action, and let's connect to
      discuss how I can bring your ideas to life!
    </p>
    <Button text="Resume" url="/src/resume/resume.pdf" />
  </div>
  <div
    class="w-80 rounded-full sm:block hidden bg-gray-900 absolute h-80 -z-20"
  >
  </div>
  <img
    class="MeImg absolute sm:block hidden bottom-0 -z-10"
    src={Me.src}
    alt="..."
    width="550"
    decoding="async"
    loading="lazy"
  />
  <div class="pt-10 sm:w-3/12 w-5/6">
    <h4 class="font-semibold uppercase text-[#ff8906]">Introduction</h4>
    <h2 class="font-semibold text-2xl text-[#fffffe]">
      Python & Web Developer
    </h2>
    <p class="text-[#cacaca]">
      Automation Enthusiast: Streamlining Workflows with Python.
    </p>
    <p class="text-[#cacaca]">
      Full-Stack Developer: Building Beautiful & Functional Web Experiences.
    </p>
    <a href="#services" class="text-[#ff8906] learn-more">Learn more</a>
  </div>
</section>

<style>
  .MeImg {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)) grayscale(20%);
  }
  .MeMobile {
    border-radius: 50%;
  }
  .learn-more:hover {
    text-decoration: underline;
  }
</style>
