---
import Galeria from "../../components/Galeria.astro";
import Button from "../Button.astro";
---

<section
  id="portfolio"
  class="w-full h-screen flex sm:justify-around justify-evenly items-center flex-wrap sm:flex-row flex-col"
>
  <div class="flex flex-col items-center text-center">
    <h4 class="font-semibold uppercase text-[#ff8906]">Portfolio</h4>
    <h2 class="text-[#fffffe] font-semibold text-2xl">My Amazing Collection</h2>
    <p class="text-[#cacaca] w-6/12">
      They say time is money, so I built some robots to do my chores
      (figuratively, of course). Want to see how I automated daily tasks and
      built some websites along the way? Dive in!
    </p>
    <nav class="pt-4 pb-8 sm:w-5/12 w-10/12">
      <ul class="flex items-center justify-evenly">
        <li
          class="text-[#fffffe] w-4 flex justify-center items-center hover:text-[#cacaca] own-btn active-own all"
        >
          <button>All</button>
        </li>
        <li
          class="text-[#fffffe] w-4 flex justify-center items-center hover:text-[#cacaca] own-btn automation"
        >
          <button>Automation</button>
        </li>
        <li
          class="text-[#fffffe] w-4 flex justify-center items-center hover:text-[#cacaca] own-btn web"
        >
          <button>Websites</button>
        </li>
      </ul>
    </nav>
    <div class="text-white max-w-4xl grid sm:grid-cols-2 grid-flow-row gap-6">
      <div class="org info-automation">
        <Galeria path="/web-pages/web-page" />
      </div>
      <div class="org info-web">
        <Galeria path="/web-pages/web-page" />
      </div>
    </div>
    <div class="flex justify-center items-center">
      <Button text="Contact Me" url="#contact" />
    </div>
  </div>
</section>

<style>
  .active-own {
    color: #ff8906;
    text-decoration: underline;
  }
  .grid-wrapper > .org {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
  }
  .grid-wrapper {
    padding-bottom: 2rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 6rem;
    grid-auto-flow: dense;
  }
</style>

<script>
  const btns = document.querySelectorAll(".own-btn");

  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      if (!btn.classList.contains("active-own")) {
        btns.forEach((x) => x.classList.remove("active-own"));
        btn.classList.add("active-own");
      }
      if (btn.classList.contains("automation")) {
        document.querySelector(".info-web").classList.add("hidden");
        document.querySelector(".info-web").classList.remove("org");
        document.querySelector(".info-automation").classList.remove("hidden");
      } else if (btn.classList.contains("web")) {
        document.querySelector(".info-automation").classList.add("hidden");
        document.querySelector(".info-automation").classList.remove("org");
        document.querySelector(".info-web").classList.remove("hidden");
      } else {
        document.querySelector(".info-automation").classList.remove("hidden");
        document.querySelector(".info-web").classList.remove("hidden");
        document.querySelector(".info-web").classList.add("org");
        document.querySelector(".info-automation").classList.add("org");
      }
    });
  });
</script>
