---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/pages/Hero.astro';
import Services from '../components/pages/Services.astro';
import Portfolio from '../components/pages/Portfolio.astro';
import Contact from '../components/pages/Contact.astro';
---

<Layout title="Portfolio">
	<main>
		<Hero />
		<Services />
		<Portfolio />
		<Contact />
	</main>
</Layout>
